<div class="header_logo">
	<a href="#">디지털 랩</a>
</div>
<nav id="nav">
	<ul class="gub_box">
		<li class="gnb_list menu_list">
			<a href="/home">홈</a>
		</li>
		<li class="gnb_list">
			<p>기본정보</p>
			<ul class="inner_list_box">
				<li class="inner_list menu_list">
					<a href="/user/user_list">사용자 관리</a>
				</li>
				<li class="inner_list menu_list">
					<a href="/report/report_list">과제 관리</a>
				</li>
				<li class="inner_list menu_list">
					<a href="/place/place_list">장소 관리</a>
				</li>
				<li class="inner_list menu_list">
					<a href="/storage/storage_list">저장고 온/습도 관리</a>
				</li>
			</ul>
		</li>
		<li class="gnb_list">
			<p>재료 및 방법</p>
			<ul class="inner_list_box">
				<li class="inner_list menu_list">
					<a href="/method/method_list">실험 방법</a>
				</li>
				<li class="inner_list menu_list">
					<a href="/reagent/reagent_list">시약 정보</a>
				</li>
				<li class="inner_list menu_list">
					<a href="/equipment/equipment_list">장비 정보</a>
				</li>
				<li class="inner_list menu_list">
					<a href="/instrument/instrument_list">기구 정보</a>
				</li>
				<li class="inner_list menu_list">
					<a href="/seed/seed_list">시료 관리</a>
				</li>
			</ul>
		</li>
		<li class="gnb_list">
			<p>분석 관리</p>
			<ul class="inner_list_box">
				<li class="inner_list menu_list">
					<a href="/regist_analysis_list">분석 계획 등록</a>
				</li>
				<li class="inner_list menu_list">
					<a href="/analysis_plan_list">분석 계획 설정</a>
				</li>
				<li class="inner_list menu_list">
					<a href="/analysis/sample_analysis_list">시료 분석</a>
				</li>
				<li class="inner_list menu_list">
					<a href="/regist_results_list">결과 등록</a>
				</li>
				<li class="inner_list menu_list">
					<a href="/example_list">데이터 검증</a>
				</li>
			</ul>
		</li>
		<li class="gnb_list th_list_box">
			<p>통계 관리</p>
			<ul class="inner_list_box">
				<li class="inner_list">
					<p>R 연동 통계</p>
					<ul class="inner_in_list">
						<li class="in_list menu_list">
							<a href="http://10.30.220.176:3838/sample-apps/anova/" target="_blank">One-way ANOVA</a>
						</li>
<!--						<li class="in_list menu_list">-->
<!--							<a href="#">Datavisualization<br> <span>using ggplot2</span></a>-->
<!--						</li>-->
					</ul>
				</li>
			</ul>
		</li>
		<li class="gnb_list">
			<p>일정 관리</p>
			<ul class="inner_list_box">
				<li class="inner_list menu_list">
					<a href="/month/month_schedule">월간 일정</a>
				</li>
				<li class="inner_list menu_list">
					<a href="/schedule/week_schedule">주간 일정</a>
				</li>
				<li class="inner_list menu_list">
					<a href="/study_notes">연구 노트</a>
				</li>
			</ul>
		</li>
		<li class="gnb_list">
			<p>연구노트 전송 관리</p>
			<ul class="inner_list_box">
				<li class="inner_list menu_list">
					<a href="/dataLogList">나르다 연구노트 전송 이력</a>
				</li>
			</ul>
		</li>
	</ul>
</nav>