<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- 파비콘 -->
<link rel="icon" href="/favicon.ico">
<!-- <link rel="icon" href="../../static/favicon.ico"> -->
<title>Digital Lab - 시약 정보</title>
<link rel="stylesheet" href="/css/common/reset.css">
<link rel="stylesheet" href="/css/common/common.css">
<link rel="stylesheet" href="/css/common/ui.css">
<link rel="stylesheet" href="/css/style/reagent_information2_normal.css">

<script src="/js/common/jquery-3.6.0.js"></script>
<script src="/js/common/loadHeader.js"></script>
<script src="/js/common/common.js"></script>


<!-- <link rel="stylesheet" href="../../static/css/common/reset.css">
<link rel="stylesheet" href="../../static/css/common/common.css">
<link rel="stylesheet" href="../../static/css/common/ui.css">
<link rel="stylesheet" href="../../static/css/style/reagent_information2_normal.css">

<script src="../../static/js/common/jquery-3.6.0.js"></script>
<script src="../../static/js/common/loadHeader.js"></script>
<script src="../../static/js/common/common.js"></script> -->
<style>
#reagentForm .first_form_box {width: 100%;}

#main .bpttom_form_box .form_box:last-child {
	width: 100%;
}

#main .bpttom_form_box .form_box:last-child textarea {
	height: 200px;
}

.caution {
	margin-bottom: 30px;
	font-size: 1.4rem;
	color: red;
}
</style>
</head>
<body>
	<div id="wrap">
		<!-- 공통 구조 - header -->
		<div id="header">
			<th:block th:include="/../header/header.html"></th:block>
		</div>
		<!-- 공통 구조 - header end -->

		<!-- 공통 구조 - main -->
		<main id="main">
			<!-- 공통 구조 - main_header -->
			<th:block th:include="/../header/main_header.html"></th:block>
			<!-- 공통 구조 - main_header end-->

			<!-- 공통 구조 - quick menu -->
            <th:block th:include="/../header/quick_menu.html"></th:block>
            <!-- 공통 구조 - quick menu end -->

			<section class="card_box new_user_sect">
				<div class="card_title_box">
					<h2 class="card_title">시약 정보</h2>
					<ul class="card_list_text">재료 및 방법 -</li>
						<li class="card_inner_list">시약 정보 -</li>
						<li class="card_inner_list">고급 상세보기</li>
					</ul>
					<div class="print_box on">
                        <button class="form_btn common_btn1 modal_on_btn" data-modal="logModal">변경 이력</button>
                    </div>
				</div>
				<div class="card">
					<div class="card_cont_box">
						<form id="reagentForm" action="" class="new_user_form common_form">
							<div class="user_data_box">
								<span th:if="${result.reagent.reagent_join_count} != 1" class="caution">사용중인 시약으로 수정,삭제가 불가 합니다.</span>
								<div class="form_box user_info_box first_form_box">
									<label for="" class="file_title"><span class="star">*
									</span>시약 ID</label> <input type="text" id="reagent_code" name=""
										th:value="${result.reagent.reagent_code}" readonly="readonly" disabled>
								</div>
								<div class="top_form_box user_form_box">
									<div class="form_box user_info_box">
										<label for="" class="file_title"><span class="star">*
										</span>품명</label> <input type="text" id="reagent_name" name="reagent_name" th:value="${result.reagent.reagent_name}">
									</div>
									<div class="form_box user_info_box">
										<label for="" class="file_title"> CAS No.</label> <input
											type="text" id="reagent_cas" name="reagent_cas" th:value="${result.reagent.reagent_cas}">
									</div>
									<div class="form_box user_info_box">
										<label for="" class="file_title">규격</label> <input type="text"
											id="reagent_standard" name="reagent_standard" th:value="${result.reagent.reagent_standard}">
									</div>
									<div class="form_box user_info_box">
										<label for="" class="file_title">순도/농도</label> <input
											type="text" id="reagent_density" name="reagent_density" th:value="${result.reagent.reagent_density}" >
									</div>
									<div class="form_box user_info_box">
										<label for="" class="file_title">화학식</label> <input
											type="text" id="reagent_formula" name="reagent_formula" th:value="${result.reagent.reagent_formula}" >
									</div>
									<div class="form_box user_info_box">
										<label for="" class="file_title">영문별칭</label> <input
											type="text" id="reagent_nick_e" name="reagent_nick_e" th:value="${result.reagent.reagent_nick_e}" >
									</div>
									<div class="form_box user_info_box">
										<label for="" class="file_title">국문별칭</label> <input
											type="text" id="reagent_nick_k" name="reagent_nick_k" th:value="${result.reagent.reagent_nick_k}">
									</div>
									<div class="form_box user_info_box">
										<label for="" class="file_title">제조사</label> <input
											type="text" id="reagent_production" name="reagent_production" th:value="${result.reagent.reagent_production}" >
									</div>
								</div>
								<div class="adress_form_box user_form_box">
									<div class="form_box user_info_box">
										<label for="" class="file_title">수량</label> <input
											type="number" onKeyup="this.value=this.value.replace(/[^0-9]/g	,'');" id="reagent_amount" placeholder="" name="reagent_amount" th:value="${result.reagent.reagent_amount}" >
									</div>
									<div class="form_box user_info_box select_box">
										<label for="" class="file_title"></label> <select
											name="each_id" id="each_id" class=" common_select">
											<option value="-1" hidden>단위 선택</option>
											<th:block th:each="each : ${eachList}">
												<option th:value="${each.each_id}" th:text="${each.each}" th:selected="${each.each_id} == ${result.reagent.each_id}"></option>
											</th:block>
										</select>
									</div>
								</div>
								<div class="bpttom_form_box user_form_box">
									<div class="form_box user_info_box">
										<label for="" class="file_title">용도</label> <input type="text"
											id="reagent_purpose" name="reagent_purpose" th:value="${result.reagent.reagent_purpose}" >
									</div>
									<div class="form_box user_info_box select_box">
										<label for="" class="file_title">보관장소</label> <select
											name="place_id" id="place_id" class=" common_select">
											<option value="-1" hidden>보관장소 선택</option>
											<th:block th:each=" place : ${placeList}">
												<option th:value="${place.place_id}"
													th:text="${place.place_name}" th:selected="${place.place_id} == ${result.reagent.place_id}"></option>
											</th:block>
										</select>
									</div>
									<div class="form_box">
										<label for="" class="file_title">Comment</label>
										<textarea name="reagent_comment" id="reagent_comment" th:text="${result.reagent.reagent_comment}" class="" ></textarea>
									</div>
								</div>
							</div>
							
							<input type="hidden" name="reagent_id" th:value="${result.reagent.reagent_id}"/>
							<input type="hidden" name="USEE_AT_CODE" th:value="${result.reagent.USEE_AT_CODE}"/>
							<input type="hidden" name="reagent_code" th:value="${result.reagent.reagent_code}"/>
						</form>
					</div>
				</div>
				<div class="card_footer">
					<button type="button" class="list_btn common_btn1">목록</button>
					<div class="re_btn_box">
						<button th:if="${session.LOGIN_MEMBER.account == result.reagent.account || session.LOGIN_MEMBER.authority == 'ADMIN'}" type="button" class="appl_regist_btn common_btn1" onclick="onClickRegist();">수정</button>
						<button th:if="${session.LOGIN_MEMBER.account == result.reagent.account || session.LOGIN_MEMBER.authority == 'ADMIN'}" type="button" class="appl_regist_btn common_btn1" onclick="onClickDelete();">삭제</button>
					</div>
				</div>
			</section>
			
			<!-- 변경 이력 -->
			 <div class="modal harvesting_modal" id="logModal">
                <div class="modal_box">
                    <div class="modal_header">
                        <h2 class="modal_title">변경 이력 조회</h2>
                        <button class="modal_close">닫기</button>
                    </div>
                    <div class="card sec_card">
                        <div class="card_cont_box">
                            <ul class="change_list_box">
                            	
                            	<th:block th:each=" log : ${result.logList}">
	                                <li class="change_list">
	                                    <span class="change_check"></span>
	                                    <div class="chang_text_box">
	                                        <p class="change_text"><span th:text="${log.data_code}"></span> 
	                                        <th:block th:switch="${log.action_type}">
	                                        	<span th:case="1">등록</span>
	                                        	<span th:case="2">수정</span>
	                                        	<span th:case="3">삭제</span>
	                                        	<span th:case="4">추가</span>
	                                        </th:block>
	                                        </p>
	                                        <span class="change_date" th:text="${log.log_date}"></span>
	                                    </div>
	                                </li>
                            	</th:block>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            
		</main>
		<!-- 공통 구조 - main end -->
	</div>
	<script type="text/javascript" th:inline="javascript">
		let reagent_id = `[[${result.reagent.reagent_id}]]`;
		let join_count = `[[${result.reagent.reagent_join_count}]]`;
	</script>
	<script>
		function validateFunction(id, title) {
			let value = $('#' + id).val();
			if (value == '') {
				$('#' + id).focus();
				alert(title + ' 입력해주세요');
				return false;
			}
			return true;
		}

		function checkForm() {
			if (!validateFunction('reagent_name', '이름을')) {
				return false;
			}
			
			let reagent_amount = $('#reagent_amount').val();
			
			if (reagent_amount == ''){
				$('#reagent_amount').val(0);
			}
			return true;
		}

		function checkJoin(){

			if(join_count != 1){
				alert("수정,삭제가 불가능합니다");
				return false;
			}
			return true;
		}

		function onClickRegist() {

			if(!checkJoin()){
				return;
			}

			if (!checkForm()) {
				return;
			}
			
			let reagentForm = $('#reagentForm')[0];
			let formData = new FormData(reagentForm);

			$.ajax({
				url : "/reagent/reagent_modify",
				type : "POST",
				processData : false,
				contentType : false,
				data : formData,
				success : function(data) {
					if (data <= 0) {
						getErrorMessage(data);
					} else {
						alert("시약이 수정되었습니다");
						location.href = `/reagent/reagent-detail/${reagent_id}`;
					}
				},
				error : function(xhr, status) {
					alert(xhr + " : " + status);
				}
			})
		}

		function onClickDelete() {

			if(!checkJoin()){
				return;
			}

			if(!confirm("삭제하시겠습니까")){
				return;
			}

			$.ajax({
				url : `/reagent/delete/${reagent_id}`,
				type : "POST",
				success : function(data) {

					if (data <= 0) {
						getErrorMessage(data);
					} else {
						alert("삭제되었습니다");
						location.href = `/reagent/reagent_list`;
					}
				},
				error : function(xhr, status) {
					alert(xhr + " : " + status);
				}
			})
		}

		// 에러 처리
		function getErrorMessage(err_msg_id) {
			$.ajax({
				url : "/err-message",
				type : "GET",
				data : {
					err_msg_id : err_msg_id
				},
				success : function(data) {
					alert(data.msg);
				}
			})
		}

		$('.list_btn').on('click', function() {
			location.href = `/reagent/reagent_list`;
		})
	</script>
</body>
</html>