<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 파비콘 -->
    <link rel="icon" href="/favicon.ico">
    <!-- <link rel="icon" href="../../static/favicon.ico"> -->
    <title>Digital Lab - 사용자 관리</title>
    <link rel="stylesheet" href="../css/common/reset.css">
    <link rel="stylesheet" href="../css/common/common.css">
    <link rel="stylesheet" href="../css/common/ui.css">
    <link rel="stylesheet" href="../css/style/user_management2_new.css">
    
    <script src="../js/common/jquery-3.6.0.js"></script>
    <script src="../js/common/loadHeader.js"></script>
    <script src="../js/common/common.js"></script>
</head>
<body>
    <div id="wrap">
        <!-- 공통 구조 - header -->
        <div id="header">
			<th:block th:include="/../header/header.html"></th:block>
		</div>
        <!-- 공통 구조 - header end -->
        
        <!-- 공통 구조 - main -->
        <main id="main">
       		<!-- 공통 구조 - main_header -->
            <th:block th:include="/../header/main_header.html"></th:block>
            <!-- 공통 구조 - main_header end-->

            <!-- 공통 구조 - quick menu -->
            <th:block th:include="/../header/quick_menu.html"></th:block>
            <!-- 공통 구조 - quick menu end -->

            <section class="card_box new_user_sect">
                <div class="card_title_box">
                    <h2 class="card_title">사용자 관리</h2>
                    <ul class="card_list_text">
                        <li class="card_inner_list">사용자 관리 - </li>
                        <li class="card_inner_list">신규 등록</li>
                    </ul>
                </div>
                <div class="card">
                    <div class="card_cont_box">
                       <form action="" class="new_user_form common_form">
                            <div class="user_data_box">
                                <div class="top_form_box user_form_box">
                                    <div class="form_box user_info_box">
                                        <label for="" class="file_title"><span class="star">*</span> 사용자 ID</label>
                                        <input type="text" id="">
                                    </div>
                                    <div class="form_box user_info_box">
                                        <label for="" class="file_title"><span class="star">*</span> 비밀번호</label>
                                        <input type="password" id="">
                                    </div>
                                    <div class="form_box user_info_box">
                                        <label for="" class="file_title"><span class="star">*</span> 비밀번호 확인</label>
                                        <input type="password" id="">
                                    </div>
                                    <div class="form_box user_info_box">
                                        <label for="" class="file_title"><span class="star">*</span> 성명</label>
                                        <input type="text" id="">
                                    </div>
                                    <div class="form_box user_info_box">
                                        <label for="" class="file_title">영문명</label>
                                        <input type="text" id="">
                                    </div>
                                </div>
                                <div class="middle_form_box user_form_box">
                                    <div class="form_box user_info_box select_box">
                                        <label for="" class="file_title"><span class="star">*</span> 원</label>
                                        <select name="" id="" class=" common_select">
                                            <option value="none" hidden>원 선택</option>
                                            <option value=""></option>
                                            <option value=""></option>
                                            <option value=""></option>
                                            <option value=""></option>
                                            <option value=""></option>
                                        </select>
                                    </div>
                                    <div class="form_box user_info_box select_box">
                                        <label for="" class="file_title"><span class="star">*</span> 부</label>
                                        <select name="" id="" class=" common_select">
                                            <option value="none" hidden>부 선택</option>
                                            <option value=""></option>
                                            <option value=""></option>
                                            <option value=""></option>
                                            <option value=""></option>
                                            <option value=""></option>
                                        </select>
                                    </div>
                                    <div class="form_box user_info_box select_box">
                                        <label for="" class="file_title"><span class="star">*</span> 과</label>
                                        <select name="" id="" class=" common_select">
                                            <option value="none" hidden>과 선택</option>
                                            <option value=""></option>
                                            <option value=""></option>
                                            <option value=""></option>
                                            <option value=""></option>
                                            <option value=""></option>
                                        </select>
                                    </div>
                                    <div class="form_box user_info_box select_box">
                                        <label for="" class="file_title">소속실</label>
                                        <select name="" id="" class=" common_select">
                                            <option value="none" hidden>소속실 선택</option>
                                            <option value=""></option>
                                            <option value=""></option>
                                            <option value=""></option>
                                            <option value=""></option>
                                            <option value=""></option>
                                        </select>
                                    </div>
                                    <div class="form_box user_info_box select_box">
                                        <label for="" class="file_title"><span class="star">*</span> 직종</label>
                                        <select name="" id="" class=" common_select">
                                            <option value="none" hidden>직종 선택</option>
                                            <option value=""></option>
                                            <option value=""></option>
                                            <option value=""></option>
                                            <option value=""></option>
                                            <option value=""></option>
                                        </select>
                                    </div>
                                    <div class="form_box user_info_box select_box">
                                        <label for="" class="file_title"><span class="star">*</span> 직급</label>
                                        <select name="" id="" class=" common_select">
                                            <option value="none" hidden>직급 선택</option>
                                            <option value=""></option>
                                            <option value=""></option>
                                            <option value=""></option>
                                            <option value=""></option>
                                            <option value=""></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="adress_form_box user_form_box">
                                    <div class="form_box user_info_box">
                                        <label for="" class="file_title">주소</label>
                                        <input type="text" id="" placeholder="우편번호">
                                    </div>
                                    <div class="form_box user_info_box">
                                        <label for="" class="file_title"></label>
                                        <input type="text" id="" placeholder="주소">
                                    </div>
                                    <div class="form_box user_info_box">
                                        <label for="" class="file_title"></label>
                                        <input type="text" id="" placeholder="상세 주소">
                                    </div>
                                </div>
                                <div class="bpttom_form_box user_form_box">
                                    <div class="form_box user_info_box">
                                        <label for="" class="file_title">전화번호</label>
                                        <input type="tel" id="">
                                    </div>
                                    <div class="form_box user_info_box">
                                        <label for="" class="file_title">팩스번호</label>
                                        <input type="tel" id="">
                                    </div>
                                    <div class="form_box user_info_box">
                                        <label for="" class="file_title">휴대전화 번호</label>
                                        <input type="tel" id="">
                                    </div>
                                    <div class="form_box user_info_box">
                                        <label for="" class="file_title">과학기술인번호</label>
                                        <input type="number" id="">
                                    </div>
                                    <div class="form_box user_info_box select_box">
                                        <label for="" class="file_title"><span class="star">*</span> 권한</label>
                                        <select name="" id="" class=" common_select">
                                            <option value="none" hidden>권한 선택</option>
                                            <option value=""></option>
                                            <option value=""></option>
                                            <option value=""></option>
                                            <option value=""></option>
                                            <option value=""></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                       </form>
                    </div>
                </div>
                <div class="card_footer">
                    <button class="list_btn common_btn1">목록</button>
                    <button class="appl_regist_btn common_btn1">등록</button>
                </div>
            </section>
        </main>
        <!-- 공통 구조 - main end -->
    </div>

</body>
</html>