<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 파비콘 -->
    <link rel="icon" href="/favicon.ico">
    <!-- <link rel="icon" href="../../static/favicon.ico"> -->
    <title>Digital Lab - 과제 관리</title>
    <link rel="stylesheet" href="../css/common/reset.css">
    <link rel="stylesheet" href="../css/common/common.css">
    <link rel="stylesheet" href="../css/common/ui.css">
    <link rel="stylesheet" href="../css/style/assignment_management2_new.css">
    
    <script src="../js/common/jquery-3.6.0.js"></script>
    <script src="../js/common/loadHeader.js"></script>
    <script src="../js/common/common.js"></script>
    <!-- <script src="../../static/js/harvesting_after.js"></script> -->
    <style>
        #wrap #main .card .new_user_form .user_data_box {flex-wrap: wrap;}
        #wrap #main .card .file_form_box { margin-bottom: 10px; justify-content: center;}
        #wrap #main .card .textarea_form_box {width: 100%; margin-right: 0;}
        #wrap #main .card .textarea_form_box > textarea {height: 200px;}
    </style>
</head>
<body>
    <div id="wrap">
        <!-- 공통 구조 - header -->
       	<div id="header">
			<th:block th:include="/../header/header.html"></th:block>
		</div>
        <!-- 공통 구조 - header end -->
        	
        <!-- 공통 구조 - main -->
        <main id="main">
            <!-- 공통 구조 - main_header -->
            <th:block th:include="/../header/main_header.html"></th:block>
            <!-- 공통 구조 - main_header end-->

            <!-- 공통 구조 - quick menu -->
            <th:block th:include="/../header/quick_menu.html"></th:block>
            <!-- 공통 구조 - quick menu end -->
            
            <section class="card_box new_user_sect">
                <div class="card_title_box">
                    <h2 class="card_title">과제 관리</h2>
                    <ul class="card_list_text">
                        <li class="card_inner_list">과제 관리 - </li>
                        <li class="card_inner_list">일반 등록</li>
                    </ul>
                </div>
                <div class="card">
                    <div class="card_cont_box">
                       <form action="" class="new_user_form common_form">
                            <div class="user_data_box">
                                <div class="form_box user_info_box select_box">
                                    <label for="" class="file_title">년도</label>
                                    <select name="" id="" class=" common_select">
                                        <option value="none" hidden>년도 선택</option>
                                        <option value=""></option>
                                        <option value=""></option>
                                        <option value=""></option>
                                        <option value=""></option>
                                        <option value=""></option>
                                    </select>
                                </div>
                                <div class="form_box file_form_box">
                                    <span class="file_title"></span>
                                    <div class="file_input form_inner_box">
                                        <input type="text" class="file_name" readonly><input type="file" name="" id="fileSelect" class="file_select_input"><label for="fileSelect" class="form_btn          common_btn1">파일 선택</label>
                                    </div>
                                </div> 
                                <div class="form_box textarea_form_box">
                                    <label for="" class="file_title">설명</label>
                                    <textarea name="" id="" class=""></textarea>
                                </div> 
                            </div>
                       </form>
                    </div>
                </div>
                <div class="card_footer">
                    <button class="list_btn common_btn1">목록</button>
                    <button class="appl_regist_btn common_btn1">등록</button>
                </div>
            </section>
        </main>
        <!-- 공통 구조 - main end -->
    </div>

</body>
</html>